__pycache__/
*.pyc
.DS_Store
venv/
env/
.env
*.pkl
*.png
log/
hydra_log/
external/astra-sim
external/libCacheSim
external/rocksdb
data/
weights/*.pth
weights/*.zip
weights/**/*.pt
weights/**/*.pth
weights/**/*.zip
